	
/*
**  Template.css
**
**	Default  Layout
**
*/

* {
	padding: 0;
	margin: 0;
	}

    html, body {
	    height: 100%
	}

	#wb-navigation-subtop div.submenu {
		display: none;
	}			

    div.submenu{
       display:none;
       background-color: #CCCCCC;
	}

	#wb-navigation-subtop div.submenu div {
		display: none;
	}			
					
	#wb-container-outer {
		background-color: #FFFFFF;		
		background-image: none;
		background-repeat: repeat;
		min-height:100%;
		height:auto !important;
		}
	* html 	#wb-container-outer {
		height:100% !important;
		}
	#wb-container-inner {
		margin: 0;
		background-color: transparent;
		padding-bottom: 0px;
		width:960px;
	}

/* WB-LAYOUT-HEADER: This is the header section */
	#wb-layout-header {
		width:100%;
		height:105px;		
		background-color: transparent;
		border-bottom-color:#999999;
		border-bottom-style:solid;
		border-bottom-width:1px;		
		}
	
	#wb-layout-header-mask {
		width:960px;	
		background-color: transparent;		
		overflow: hidden;
		height: 105px;
		}
				
	#wb-layout-header-base {
		width:960px;
		height: 0px;
		background-color: transparent;
		}

	
/* WB-LAYOUT-TOP-2: for designs that have navigation between the header and content 
**	Layout 2
**  Layout 3
*/	
	
    #wb-navigation-subtop {
		display: none;
    	}
    
		margin: 0px 0px;
	
/* WB-CONTAINER-CONTENTWRAPPER: This wraps the content area of the site 
**
**	ALL Layouts
**
*/
	#wb-container-contentwrapper {
		width:960px;
		min-height: 100%;
		background-color: transparent;
		}
	
/* SIDEBAR is for designs that have a left or right column built in 
**
**	Layout 1
**	Layout 2
*/
	#wb-layout-sidebar { 
        float: left;
        width: 205px;
        padding-left: 0px;     
		padding-bottom: 10px;  
		padding-top: 0px;
		background-color:#FFF;
        *margin-top:-1px;
		}
	
	/* sidebar navigation */
	#wb-navigation {
		width:205px;
		margin-top:2px;
		background-color: transparent;
	}
	
	#wb-navigation-top {
		width: 205px;
		padding-top: 1px;
		background-color: transparent;	
		}
	
	#wb-navigation-bottom {
	/* NO HEIGHT: 100%.  BREAKS FF. */
		width: 205px;
		padding-bottom: 5px; 
		background-color: transparent;
    }
	

	#wb-navigation-bottom div {
		margin-top: 0px;
		text-align: left;
		padding:0px;
		margin: 0 0 0 0;
		width: 205px;
        background-color:#transparent;
	}

	#wb-navigation-bottom div a {
			border-bottom-color:#E3E3E3;
			border-bottom-style:solid;
			border-bottom-width:1px;
			width: 205px;
			padding: 0px;
			margin:0;
			display:block;
			height:33px;
			line-height:33px;
	}

	#wb-navigation-bottom div a:hover {
			border-right-color:#E3E3E3;
			border-right-style:solid;
			border-right-width:5px;
			width: 200px;
	}
	#wb-navigation-bottom div a h3 {
		padding-left:10px;
		}

	#wb-basenav {
	}
	
	#wb-navbasewrap {
		}
	
	
/* MAIN-CONTENT AREA
**
**	ALL Layouts
**
*/

	#wb-layout-main {
		width:740px;
		min-height: 100%;
		float: right;
		margin-top: 2px;
		padding-top: 5px;
		border-left-color:#E3E3E3;
		border-left-style:solid;
		border-left-width:5px;
		border-right:none;
		margin-left:0px;
		padding-left:10px;		
		}	
	#wb-layout-main-inner-1 {		
		}
    
	#wb-layout-main-inner-2  {
		}
	
/* Page FOOTER 
**
**	ALL Layouts
**
*/
	#wb-layout-footer {
		min-height: 100px;
		width: 960px;
		border: 0px;
		margin-left: 0;
		background-color: transparent;
		height:auto !important;
		}
	
